@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-lighter: #6c6b69;
  --black-default: #3b3a37;
  --black-darker: #0a0905;
  --gray-lighter: #ffffff;
  --gray-default: #cececd;
  --gray-darker: #9d9d9b;
  --blue-lighter: #cdf5fd;
  --blue-default: #75c2f6;
  --blue-darker: #1d5d9b;
}

body {
  color: white;
}

html {
  min-width: 320px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--black-default);
    border-radius: 5px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--black-lighter);
  font-size: 24px !important;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 20px !important;

  &:hover {
    .swiper-button-prev::after,
    .swiper-button-next::after {
      opacity: 1;
      transition: all 0.5s ease-in;
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  transition: all 0.3s ease-in;
}

.swiper-pagination-bullet-active {
  background: var(--black-default) !important;
  scale: 1.5;
  transition: all 0.3s ease-in;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 30px !important;
}

@media screen and (min-width: 320px) {
  html {
    overflow-x: hidden;
  }
}
