@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-lighter: #6c6b69;
  --black-default: #3b3a37;
  --black-darker: #0a0905;
  --gray-lighter: #ffffff;
  --gray-default: #cececd;
  --gray-darker: #9d9d9b;
  --blue-lighter: #cdf5fd;
  --blue-default: #75c2f6;
  --blue-darker: #1d5d9b;
}

html {
  min-width: 320px;

  ::-webkit-scrollbar {
    width: 8px;
    background: var(--gray-default);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--black-lighter);
    border-radius: 5px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--black-lighter);
  font-size: 24px !important;
  transition: all 0.5s ease-in;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 20px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: initial !important;
}

.swiper-pagination-bullet {
  transition: all 0.3s ease-in;
}

.swiper-pagination-bullet-active {
  background: var(--black-default) !important;
  scale: 1.5;
  transition: all 0.3s ease-in;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 30px !important;
}

.gradient-top {
  background: rgb(10, 9, 5);
  background: linear-gradient(0deg, rgba(10, 9, 5, 1) 0%, rgba(59, 58, 55, 1) 100%);
}

.gradient-left {
  background: rgb(10, 9, 5);
  background: linear-gradient(275deg, rgba(10, 9, 5, 1) 0%, rgba(59, 58, 55, 1) 100%);
}

input[type="color"] {
  border-radius: 5px;
  padding: 0 !important;
  border: none !important
}

input[type="color"]::-moz-color-swatch {
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 5px;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
}

.gradientText {
  background: -webkit-linear-gradient(top right, var(--blue-default), var(--blue-darker));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientBg {
  background: -webkit-linear-gradient(top right, var(--blue-default), var(--blue-darker));
}

@media screen and (min-width: 320px) {
  html {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .swiper {
    padding: 40px !important;
  }

  .swiper-button-next {
    right: 40px !important;
  }

  .swiper-button-prev {
    left: 40px !important;
  }
}